<deployment>
	<hosts>
		<host name="localhost"
			dir="./" />
	</hosts>
	<cyclicBarrier hostname="localhost" port="55253" />
	<globalRegistry hostname="localhost" port="55252" />
	<rmiRegistryPort no="55999" />
	<jvms2hostnames>
		<jvm2hostname jvmuri="controleur" rmiRegistryCreator="true"
			hostname="localhost" mainclass="src.wattwattReborn.main.DistributedCVM" />
		<jvm2hostname jvmuri="compteur" rmiRegistryCreator="false"
			hostname="localhost" mainclass="src.wattwattReborn.main.DistributedCVM" />
		<jvm2hostname jvmuri="refri" rmiRegistryCreator="false"
			hostname="localhost" mainclass="src.wattwattReborn.main.DistributedCVM" />
	</jvms2hostnames>
</deployment>
