<deployment>
   <hosts>
    <host name="localhost"
          dir="/users/Etu5/3408625/Bureau/S3/ALASCA/WattWatt/src/tests"/>
  </hosts>
  <cyclicBarrier   hostname="localhost" port="55253"/>
  <globalRegistry  hostname="localhost" port="55252"/>
  <rmiRegistryPort no="55999"/>
  <jvms2hostnames>
    <jvm2hostname jvmuri="controleur"
        rmiRegistryCreator="true"
        hostname="localhost"
        mainclass="src.tests.DistributedCVM"/>
    <jvm2hostname jvmuri="compteur"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="src.tests.DistributedCVM"/>
      <jvm2hostname jvmuri="eolienne"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="src.tests.DistributedCVM"/>
      <jvm2hostname jvmuri="batterie"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="src.tests.DistributedCVM"/>
  </jvms2hostnames>
</deployment>
